<!-- <h2>Tracker</h2>
<hr>
<div class="container">
    <h1>{{ formatTime(time) }}</h1>
    <div class="btn-group">
      <button (click)="toggle()">
          START/STOP
      </button>
      <button (click)="reset()">RESET</button>
      <button (click)="lap()">Split</button>
    </div>
      <div class="laps"
          *ngIf="stopwatchService.laps.length > 1">
          <div class="lap"
            *ngFor="let lap of stopwatchService.laps; let i = index; let last=last">
              
              <div> Misurazione: {{ i }}</div>
              <div>{{ formatTime(lap.startMs) }}</div>
              <div *ngIf="last">{{ formatTime(time) }}</div>
              <div *ngIf="!last">{{ formatTime(lap.endMs) }}</div>
          </div>
      </div>
  </div>
<hr>
 -->


<button (click)="start()" >Partenza</button>
<button (click)="stop()" >Stop</button>
<button (click)="reset()" >Reset</button>


<h1>{{ formatTime(time) }}</h1>

<div class="riders">
    <button *ngFor="let rider of riders" class="partial_btn" 
    (click)="recordTimeLap(rider)">
        <span class="last_name">{{rider.lastName}} </span>
        <span class="first_name">  {{rider.firstName}} </span>
    </button>
</div>

<stats></stats>

<p *ngIf="started">Il quartetto è partito </p>

<div class="intermediates" *ngIf="stopwatchService.timeRecords.length > 0">
    <div>
        <span>Tempo complessivo attuale: <b>{{formatTime(getLastRecordedTime())}}</b></span>
    </div>
    <div class="time-record"
    *ngFor="let record of stopwatchService.timeRecords; let i = index; let last=last">
        <div> {{ i }}: {{ riderToString(record.rider) }}</div>
        <div>{{ formatTime(record.lap.time()) }}</div>
        <div >{{ formatTime(getLastFullTime(i+1)) }}</div>
    </div>
</div>

<div *ngIf="started && stopped">
    Rilevamento terminato -- Risultati:
</div>