<button mat-button (click)="start()" >Partenza</button>
<button mat-button (click)="stop()" >Finish</button>
<button mat-button (click)="reset()" *ngIf="stopped">Reset</button>
<button mat-button (click)="downloadPDF()" *ngIf="stopped">Scarica PDF</button>


<h1>{{ formatTime(time) }}</h1>

<div class="riders">
    <button mat-button *ngFor="let rider of riders" class="partial_btn" 
    (click)="recordTimeLap(rider)">
        <span class="last_name">{{rider.lastName}} </span>
        <span class="first_name">  {{rider.firstName}} </span>
    </button>
</div>

<stats></stats>
<p *ngIf="started">Il quartetto è partito </p>

<div class="intermediates" *ngIf="localTimeRecordsCopy.length > 0">
    <div>
        <span>Tempo complessivo attuale: <b>{{formatTime(getLastRecordedTime())}}</b></span>
    </div>
    <div class="time-record"
    *ngFor="let record of localTimeRecordsCopy; let i = index; let last=last">
        <div> {{ i }}: {{ riderToString(record.rider) }}</div>
        <div>lap time: {{ formatTime(record.lap.time()) }}</div>
        <div >current full time{{ formatTime(getLastFullTime(i+1)) }}</div>
       
            <div >delta time{{ formatTime(record.deltaTime) }}</div>
            <div >delta percentage {{ record.deltaPercentage }}%</div>
        
    </div>
</div>

<div *ngIf="started && stopped">
    Rilevamento terminato -- Risultati:
</div>