<button mat-button (click)="start()" >Partenza</button>
<button mat-button (click)="stop()" >Finish</button>
<button mat-button (click)="reset()" *ngIf="stopped">Reset</button>
<button mat-button (click)="downloadPDF()" *ngIf="stopped">Scarica PDF</button>


<h1>{{ formatTime(time) }}</h1>

<div class="riders">
    <button mat-button *ngFor="let rider of riders" class="partial_btn" 
    (click)="recordTimeLap(rider)">
        <span class="last_name">{{rider.lastName}} </span>
        <span class="first_name">  {{rider.firstName}} </span>
    </button>
</div>

<stats></stats>
<p *ngIf="started">Il quartetto è partito </p>

<div class="intermediates" *ngIf="localTimeRecordsCopy.length > 0">
    <div>
        <span>Tempo complessivo attuale: <b>{{formatTime(getLastRecordedTime())}}</b></span>
    </div>
    <table>
        <tr>
            <th>Corridore</th>
            <th>Intertempo</th>
            <th>Parziale</th>
            <th>Delta Tempo</th>
            <th>Delta Percentuale</th>
        </tr>
        <tr class="time-record"
        *ngFor="let record of localTimeRecordsCopy; let i = index; let last=last">
            <td> {{ i }}: {{ riderToString(record.rider) }}</td>
            <td> {{ formatTime(record.lap.time()) }}</td>
            <td> {{ formatTime(getLastFullTime(i+1)) }}</td>
            <td> {{ formatTime(record.deltaTime) }}</td>
            <td> {{ record.deltaPercentage.toFixed(2) }}%</td>
            
        </tr>
    </table>
</div>

<div *ngIf="started && stopped">
    Rilevamento terminato -- Risultati:
</div>